$main-text-color: #000000;
$text-second-color: #FFFFFF;

$logo-header-color: #231F20;
$logo-footer-color: #F7941E;

$btn-main-color: #F7941E;
$btn-seond-color: #231F20;
$btn-third-color: #FFFFFF;

$bg-color-one: #F1F1F2;
$bg-color-two: #FAFAFA;
$bg-color-three:#F7941E;
$bg-color-four: #231F20;
$bg-color-five:#FFFFFF;

$border-color-one: #F7941E;
$border-color-two: #000000;

$link-color-one: #F7941E;

$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;

$logo-font: 'Homemade Apple', sans-serif;